{% load staticfiles %} 

<html>
	<head> 
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{% static 'css/company.css' %}">
	</head>
    <body>
        <div id="company-header">
            <img src="{{ BASE_DIR }}{{ company.image.url }}" height=70px width=70px></img>
            <div id="title">
                <h1>{{ company.name }}</h1>
                <a>{{ company.website }}</a>
            </div>
        </div>

        <div id="statbox">
            <div class="rating">
                <p class="rating-header">Percent Women:</p>
                <p class="rating-result">{{ company.percent_women }}</p>
            </div>
            <div class="rating">
                <p class="rating-header">Overall Rating:</p>
                <p class="rating-result">{{ company.overall_rating }}</p>
            </div>
            <div class="rating">
                <p class="rating-header">Diversity:</p>
                <p class="rating-result">{{ company.diversity }}</p>
            </div>
            <div class="rating">
                <p class="rating-header">Inclusivity:</p>
                <p class="rating-result">{{ company.inclusivity }}</p>
            </div>
        </div>

        {% for comment in comments %}
        <div class="comment">
            <h4 style="font-weight:bold; position:relative; float:left; padding-right:5px">Role:</h4>
            <h4>{{ comment.position }}</h4>
            <p class="rating-header">{{ comment.tag }} Rating:</p>
            <p class="rating-result">{{ comment.rating }}</p>

            <p class="comment-body">{{ comment.comment }}</p>
        </div>
        {% endfor %}
    </body>
</html>
