{% load staticfiles %} 

<html>
	<head> 
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{% static 'css/shatter.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>
    <body>
        <div>
            <h1><a href="/">Shatter!</a></h1>
            <title> Shatter</title> 
            <p></p>
        </div>
        <form>
            <input type="text" placeholder="Find a company" required> 
            <button type="button" class="btn btn-primary">Search</button>
        </form> 
    </body>
</html>