{% load staticfiles %} 

<html>
	<head> 
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{% static 'css/shatter.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>
    <body>
        <div>
            <h1><a href="/">Shatter!</a></h1>
            <title> Shatter</title> 
            <p></p>
        </div>
            <p class="p1"> Break the glass ceiling.</p>
        <form name= form action="" method="GET">
            <input name=search_field type="text" placeholder="Find a company" required> 
            <button type="submit" class="btn btn-primary" onclick="OnSubmitForm()">Search</button>
        </form> 
            <a id="survey-link" href="/survey">or submit a review</a>
        
            <p class="p2">
                Join a community dedicated to increasing transparency about company diversity. 
            </p>
            <p class="p3">
                Find a company that cares about you. 
            </p>
    </body>
    <script type="text/javascript">
        function OnSubmitForm() {
            console.log(document.search)
            document.form.action = "/company/" + document.form.search_field.value;
        }
    </script>
</html>

