img {
    position: relative;
    float: left;
    margin-top: -50px;
    width:100px;
    height:100px;
    margin-right:30px;
    margin-left: 10px;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width:1px;
    padding: 7px;
}

body {
    font-family: Lobster;
    background-color: #F0F0F0;
}

#info {
    width: 100%;
    position: relative;
    float: center;
    background-color: #F0F0F0;
    padding: 10px;
}

#comment-header {
    font-weight: bold;
    height: 50px;
    padding: 10px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

#comments {
    border: 1px solid gray;
    margin-top: 10px;
    background-color: white;
}

#company-header {
    margin-bottom: 0px;
    margin-top:70px;
    padding: 10px;
    height: 90px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid gray;
}

.title {
    position: relative;
    float: left;
    padding-left: 40px;
    margin-bottom: 20px;
    padding-top: -20px;
}

#statbox {
    border: 1px solid gray;
    height: 100px;
    float: center;
    padding-top: 15px;
    background-color: white;
}

.rating {
    position: relative;
    float: left;
    margin-left: 20px;
    width: 100%;
}

.rating-header {
    font-weight: bold;
    position:relative;
    float:left;
    margin-top: -10px;
    padding-right: 5px;
}

.rating-result {
    font-weight: normal;
    position:relative;
    float:left;
    margin-top: -10px;
}

.comment {
    border-bottom: 1px solid #C0C0C0;
    margin: 20px;
}

.comment-body {
    width: 100%;
    overflow:auto;
}

#color-block {
    background-color: #F7CB5C;
    margin-bottom:-100px;
    height:120px;
    width: 100%;
}

h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 250%;
}