
{% load staticfiles %} 

div {
	margin-top: 135px;
}

body {
	text-align: center;
	overflow: auto;
	background-image: url("/static/shatter1.jpg");
	background-repeat: no-repeat;
	background-size: 1500% 190%;
}

h1 a {
    color: #FCA205;
    font-family: Lobster;
	/*margin: 425px;*/
	font-size: 390%;
}

a {
	font-family: Century Gothic;
	font-size: 110%

}

form {
	/*margin-left: 525px;*/
}

.p1 {
	color: #FCA205;
	/*margin-left: 550px;*/
	line-height: 50px;
	font-family: Century Gothic;
	font-size: 110%

}

.p2 {
	padding-top: 10%;
	color: #FCA205;
	/*margin-left: 340px;*/
	font-family: Century Gothic;
	font-size: 110%

}

.p3 {
	color: #FCA205;
	/*margin-left: 500px;*/
	font-family: Century Gothic;
	font-size: 110%

}

form {
	margin-bottom: 5px;
}